$theme: #ff5c00;
$size: 16px;
$tabSplitMenuWidth: 65px;
$minMenuWidth: 65px;
$menuWidth: var(--menu-width);
$transitionTime: 0.3s ease;
$logoHeight: 48px;
$tabHeight: 40px;
$footerHeight: 0px;
:export {
  theme: $theme;
}
